/* for signup page */
.mrgn {
  margin-top: 15px;
}

/* for signup page */

.c-p {
  padding-top: 60px !important;
}

.c-p-sp-b {
  padding-top: 30px !important;
}

.ch-pass-btn {
  margin-bottom: 60px;
}


.error-message {
  color: red;
  padding-bottom: 8px;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}